$background: #FAFAFA;
$text: #333333;

html,
body {
  background-color: $background;
  color: $text;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
