# LOGS
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# DEPENDENCIES
/node_modules
/.pnp
.pnp.js

# TESTING
/coverage

# PRODUCTION
/build
/dist
/dev
/public
/prod
*.local

# EDITOR
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MISC
.DS_Store

# ENVIRONMENT
.env.local
.env.prod
.env.dev
.env.test

# LOGS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
