<article id="login">
  <div class="articleHeading">
    <h2 class="articleHeading__title">Enter Password</h2>
  </div>

  <form id="passwordForm">
    <input type="hidden" id="passwordForm__hashed" value="MXQ0bEx1NjQ1"/>
    <input type="text" id="passwordForm__username" name="username" autocomplete="username" value="guest"/>
    <input type="password" id="passwordForm__password" name="password" autocomplete="current-password" required/>
    <button id="passwordForm__button" type="submit">Submit</button>
  </form>

  <div id="passwordForm__result">Ups, that password isn't right.</div>
  <a id="passwordForm__link" href="#tally-open=wgdaKD&tally-hide-title=1&tally-overlay=1&tally-auto-close=1000&source=request">
    Request a password if you don't have one.
  </a>
</article>
