// HEADER

.site-header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .site-header__wrapper {
    height: 112px;
    background-color: transparent;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 110px 1fr;
    justify-content: space-between;
    padding-right: 56px;
    padding-left: 56px;
    box-shadow: 0 0 24px rgba(0,0,0,0.1);
  }

  .site-header__logo {
    border: none;

    img {
      width: 110px;
      height: auto;
      margin-top: 14px;
    }
  }

  .site-header__navigation {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;

    .menu {
      display: flex;
      flex-direction: row;
      justify-items: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;

      .menu-item {
        list-style: none;
        padding: 0;
        margin: 0 24px 0 0;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0;

        a {
          color: $color-gray;
          border: none;

          &:hover {
            color: $color-brand;
          }
        }

        &.current-menu-item,
        &.current_page_item {
          a {
            color: $color-brand;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .site-header__cta {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;

    .menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
      align-items: center;
      margin: 0;
      padding: 0;

      .menu-item {
        list-style: none;
        padding: 0;
        margin: 0 24px 0 auto;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0;

        a {
          transition: all 0.2s ease-in-out;
          background-color: $color-brand;
          color: white;
          padding: 12px 24px;
          border-radius: $border-radius-small;

          &:hover {
            color: white;
            background-color: saturate(darken($color-brand, 10%), 10%);
          }
        }

        &.current-menu-item,
        &.current_page_item {
          a {
            color: $color-stress;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: $mediaquery-small) {
    .site-header__wrapper {
      height: 64px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .site-header__navigation {
      display: none;
    }

    .site-header__cta {
      display: none;
    }

    .site-header__logo {
      img {
        width: 63px;
        margin-top: 8px;
      }
    }
  }

  @media (min-width: $mediaquery-small) and (max-width: $mediaquery-medium + 1) {
    .site-header__wrapper {
      padding-left: 24px;
      padding-right: 24px;
    }

    .site-header__navigation {
      .menu {
        .menu-item {
          margin-right: 16px;
        }
      }
    }
  }
}

.mobile-menu__wrapper {
  // transition: opacity 0.2s ease-in-out;
  // opacity: 0;
  display: none;
  justify-items: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;

  .mobile-menu__trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 8px;
    padding: 0;
    margin: 0;

    &:before {
      content: '';
      background-color: white;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after {
      content: '';
      background-image: 
        linear-gradient(
          transparent 0,
          transparent 2px,
          $color-gray 2px,
          $color-gray 5px,
          transparent 5px,
          transparent 10px,
          $color-gray 10px,
          $color-gray 13px,
          transparent 13px,
          transparent 18px,
          $color-gray 18px,
          $color-gray 21px,
          transparent 21px,
          transparent 24px
        );
      width: 24px;
      height: 24px;
      position: absolute;
      top: 8px;
      left: 8px;
    }

    &:checked {
      &:after {
        background-image:
          linear-gradient(
            -45deg,
            white 5px,
            transparent 5px,
            transparent calc(100% - 5px),
            white calc(100% - 5px),
          ),
          linear-gradient(
            45deg,
            white 5px,
            transparent 5px,
            transparent calc(100% - 5px),
            white calc(100% - 5px),
          ),
          linear-gradient(
            45deg,
            transparent calc(50% - 1.5px),
            $color-gray calc(50% - 1.5px),
            $color-gray calc(50% + 1.5px),
            transparent calc(50% + 1.5px),
          ),
          linear-gradient(
            -45deg,
            transparent calc(50% - 1.5px),
            $color-gray calc(50% - 1.5px),
            $color-gray calc(50% + 1.5px),
            transparent calc(50% + 1.5px),
          );
      }

      & ~ .mobile-menu {
        display: flex;
      }
    }
  }

  .mobile-menu {
    background: white;
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;

    .menu-item {
      width: 100%;
      text-align: center;
      margin: 24px 0;
    }
  }

  @media (max-width: $mediaquery-small) {
    display: flex;
  }
}