// VARS

$font-stack-text: 'Open Sans', sans-serif;
$font-stack-titles: 'Noto Serif', serif;
$font-stack-highlight: 'Sensei', cursive;

$color-titles: #403B3B;
$color-text: #656262;
$color-gray: #ABABAB;
$color-background: #F7F6F6;
$color-brand: #8457A5;
$color-stress: #ECB30F;
$color-bc-yellow: #FFC800;
$color-bc-violet: #834EBD;
$color-bc-green: #A3CD38;
$color-bc-blue: #1E6FC9;
$color-bc-orange: #F76B04;
$color-bc-pink: #EF4B82;
$color-bc-red: #E02020;

$border-radius-big: 8px;
$border-radius-small: 4px;

$max-width-text: 800px;
$max-width-general: 1200px;

$mediaquery-small: 767px;
$mediaquery-medium: 1023px;
$mediaquery-large: 1199px;
